body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://editorial.uefa.com/resources/0250-0e910ef1175a-531c16d8bdab-1000/2015_fc_barcelona.jpeg'); /* Reemplaza 'background.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
