body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

body:not(.dark-mode) {
    color: #333; /* Color de texto predeterminado cuando no está en modo oscuro */
}

.dark-mode {
    background-color: #222;
    color: #fff; /* Cambiamos el color de texto para el modo oscuro */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    color: inherit; /* Heredamos el color de texto del elemento padre */
}

textarea {
    height: 100px;
}

button[type="submit"],
#dark-mode-toggle {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
#dark-mode-toggle:hover {
    background-color: #0056b3;
}
